/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(img/bg.jfif);
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  color: red;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}


/* Стили для карточек */

.breweries ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.breweries figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  margin: 0;
}

.breweries figure > img {
  width: 112%;
}

.breweries figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.breweries figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}



